{% extends "base.jinja" %}

{% block body %}
<div class="container py-4">
    <div class="my-3 border-bottom gradient"></div>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3 yellow-card">
        <div class="container-fluid">
            <h1 class="display-5 fw-bold monospace">> Biography.</h1>
            <p class="col-md fs-4">My full name is <b>Bruno Milton Mamede de Moraes</b>, I'm a 20 years old, living in Bahia, Brazil.<br>I'm currently on the <b>Second Semester</b> of university, getting a major on Computer Science.</p>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3 yellow-text">
                <h2 class="fw-bold monospace">> Experience with Dev.</h2>
                <p>Since I was 10 years old I fell in love with coding by doing some <i>Khan Academy</i>© courses.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-secondary border rounded-3 white-text">
                <h2 class="fw-bold monospace">> Languages</h2>
                <p class="monospace">* Python.<br>* HMTL, CSS, JS.<br>* SQL.</p>
            </div>
        </div>
    </div>
</div>
{% endblock body %}