{% extends "base.jinja" %}

{% block title %}Sol's Portfolio{% endblock title %}

{% block body %}
  <div class="container-lg">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mauris nisl, viverra vel pulvinar vel, semper
      ac risus. Donec aliquet odio ipsum, ac bibendum ante venenatis in. Nunc sapien risus, dictum sit amet elit
      vitae, sollicitudin lobortis neque. Suspendisse vitae dictum lectus. Suspendisse potenti. Praesent rhoncus
      malesuada dolor ut sollicitudin. In fermentum mi eros, dignissim auctor nibh mollis sed. Praesent sed lorem
      tempor, maximus felis non, interdum quam. Phasellus eget tristique dui. Class aptent taciti sociosqu ad
      litora torquent per conubia nostra, per inceptos himenaeos. Morbi pellentesque felis quis dolor
      sollicitudin, a maximus mauris placerat.
    </p>
  </div>
{% endblock body %}